<div id="refresh-div"><button mat-flat-button id="refresh-button" (click)="loadAllUploadedAnswers()">刷新</button>
</div>
<mat-grid-list cols="1" rowHeight="150">
  <mat-grid-tile *ngIf="this.allUploadedAnswers?.length === 0 || !this.allUploadedAnswers">
    <h3>目前没有新的回答需要审核</h3>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let item of this.allUploadedAnswers; let i = index">
    <mat-grid-tile-header>作者：{{item.answer?.authorId}}</mat-grid-tile-header>
    <p>
    {{ this.allUploadedQuestions[i] }}
  </p>
    <p>
    {{item.answer?.message}}
    </p>

    <button mat-icon-button id="approve">
      <mat-icon (click)="this.approveUploadedAnswer(item)">check</mat-icon>
    </button>
    <button mat-icon-button id="delete">
      <mat-icon (click)="this.deleteUploadedAnswer(item)">delete</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
