mat-grid-list {
  height: 100vh
}
mat-grid-tile {
  /*background: ghostwhite;*/
}
button {
  /*font-size: 150%;*/
  /*size: auto;*/

}

mat-list {
  text-align: center;
}

#answer-tile {

}

textarea,input {
  color: white
}

#submit-button, #question-submit-button {
  margin-left: 30px;
  color: #b1184c;
}

#submit-button:disabled, #question-submit-button:disabled {
  margin-left: 30px;
  color: #4f5357;

}

#submit-button-icon, #submit-button-icon {
  /*color: #b1184c;*/
  /*font-size: 50%;*/
}
#inputId, #question-inputId {
  width: 50%;
  }

#inputText, #question-inputText {
  width: 110%;
  /*margin-right: 100px;*/
}

#left-arrow, #right-arrow {

  height: 70%;
  width: 100%;
}

#right-arrow {
  margin-left: 0px;
  padding-left: 0;
}
.arrow-button-icon {
  font-size: 300%;
  margin: 0px;

}

#answer-card {
  min-width: 70%;
  max-width: 80%;
  margin-right: 0px;
  border-right: 0px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;

}
#favorite {
  font-size: 90%;
}


#no-answer {
  width: fit-content;
  text-align: center;
  min-width: 150px;
  color: slategrey;
}

#heardNumber{
  font-size: 80%;
  color: red;
}

#upVoteNumber {
  color: red;
}

.mat-card-actions {
  text-align: right;
  padding-right: 2%;
  padding-top: 0;
}

.mat-mini-fab {
  background-color: transparent;
  font-size: 20px;
}
#answer-index-button {
  background-color: transparent;
}

#answer-index-current {
  color: lightgrey;
  font-size: 95%;
}

#answer-index-total {
  font-size: 95%
}



mat-card {
  max-width: 90%;
  /*padding-bottom: 1%;*/
}

mat-card-title {
  max-width: border-box;
  word-break: break-all;

}

#question-title {
  font-size: 120%;
  color: white;
  font-weight: bold;
  max-width: border-box;
  max-height: border-box;
  overflow-wrap: normal;
}
#answer-message {
  /*color: #E91E63;*/
  font-size: 80%;
  color: #f44336;
  /*max-width: 95%;*/
  min-width: 200px;
  margin-left: 0;
  margin-rgith: 0;
}

mat-card-subtitle {
  font-size: 70%;
  color: #b0bec5;
  font-weight: lighter;
  padding-left: 5%;
  padding-bottom: 0;
  margin-bottom: 0;
}

#app-title-span {
  position: absolute;
  left: 2%;
}

#help-app-title-span {
  margin-left: 15px
}

.app-title-name {
  color: #f44336;
}

#heard-text {
  font-size: 100%;
}
mat-card-header {
  padding-bottom: 0;
  margin-bottom: 0;
}

#heard-button {
  font-size: 80%;
}

.app-title-icon {
  color: #b0bec5;
}

#cancel-writing-button {
  color: #3b3d3f;
}

#translate-question {
  font-size: 70%
}

#answer-author-id {
  width: fit-content;
  padding-right: 0;
}

#app-help-button {
  font-size: 50%;
  color: #b0bec5;
}
#app-help-span {
  position: absolute;
  right: 5%;
}
#app-add-question-span {
  position: absolute;
  right: 15%;
  color: #b0bec5;
}


#help-card {
  max-width: 80%;
  text-align: center;
  font-size: 110%;
  align-items: center;
  justify-content: center;

  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0;
}

#help-card-icon {
  color: #b0bec5;
}

.help-card-name-tag {
  color: #f44336;
  font-weight: bold;
}

#help-card-action {
  margin-bottom: 20px;
}
#help-card-content {
  line-height: 120%;
  font-size: 85%;
}

.history-nav-button {
  color: #b0bec5;
}

#help-shortcut {
  color: #b0bec5;
}

#app-add-question-open-button {
  color: #f44336;
}

#app-add-question-cancel-button {
  color: #cb312c;
}



.separator {
  color: #b0bec5;
}

#help-app-title {

}

#no-jiang-hint {
  color: #f44336;
}

#update-status {
  font-size: 1.5vh;
  color: #b0bec5;
  margin-left: 10px;

}

.total-entry-count {
  color: white;
}


#slider-footer {
  /*background: transparent;*/
  text-align: center;
  overflow: visible;
}

#nav-slider {
  width: 70vw;
  margin: auto;
  margin-bottom: 0;

}

#face-grid {
  overflow: visible;
}
