<mat-grid-list cols="1" rowHeight="fit">
  <mat-grid-tile id="question-tile" rowspan="5">
    <mat-grid-tile-header color="accent">
      <span id="app-title-span">
        <span id="app-title-name">江山娇</span>
        <span>可以说话</span>
      <mat-icon id="app-title-icon">speaker_notes</mat-icon>
      </span></mat-grid-tile-header>
    <mat-card>

    <mat-card-header>

      <mat-card-title id="question-title">
        {{ currentEntry.question.text }}
      </mat-card-title>

      <mat-card-subtitle id="question-author">  {{ this.currentEntry.question.authorId}}</mat-card-subtitle>

    </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="IHeardThat()" id="heard-button"><span id="heard-text">我听过 </span> <span id="heardNumber">{{ this.currentEntry.question.heard}} </span></button>
      </mat-card-actions>
    </mat-card>
<!--    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>-->
  </mat-grid-tile>


  <mat-grid-tile rowspan="1">
    <button mat-fab id="next-answer" color="warn"  (click)="NextQuestion()" [disabled]="loadingEntry || writingAnswer"><mat-icon>face</mat-icon></button>

  </mat-grid-tile>


  <mat-grid-tile *ngIf="!writingAnswer; else writingPanel" id="answer-tile" rowspan="4">

<!--    <mat-grid-tile-header>Header</mat-grid-tile-header>-->

    <button mat-button id="left-arrow" color="accent" (click)="LeftArrow()" [disabled]="IsFirstAnswer()">
      <mat-icon class="arrow-button-icon">arrow_left</mat-icon>
    </button>


    <mat-card id="answer-card" *ngIf="IsThereAnswer(); else noAnswer">

      <mat-card-header>
        <mat-card-title id="answer-message">
      {{ this.currentEntry.answers[this.answerPointer].message }}
        </mat-card-title>
        <mat-card-subtitle> {{this.currentEntry.answers[this.answerPointer].authorId}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-flat-button disabled id="answer-index-button"> <span id="answer-index-current"> {{ answerPointer + 1 }}</span>  / <span id="answer-index-total"> {{ this.currentEntry.answers.length }} </span></button>
        <button mat-button (click)="IUpVoteThat()"><span><mat-icon id="favorite">favorite_border</mat-icon> </span> <span id="upVoteNumber">{{ this.currentEntry.answers[this.answerPointer].upvote}} </span></button>
      </mat-card-actions>


    </mat-card>


    <ng-template #noAnswer><p id="no-answer">无人回答</p></ng-template>

    <button mat-button id="right-arrow" color="accent" [disabled]="IsLastAnswer()" (click)="RightArrow()">
      <mat-icon class="arrow-button-icon">arrow_right</mat-icon>
    </button>


<!--    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>-->

  </mat-grid-tile>


  <ng-template #writingPanel>
  <mat-grid-tile id="writing-tile"  rowspan="4">

<!--    <mat-grid-tile-header>Header</mat-grid-tile-header>-->

    <form class="input-form" ngNativeValidate  [formGroup]="inputForm" (ngSubmit)="submitHandler()">
      <mat-form-field class="input-full-width" id="inputText">
        <mat-label>我的回答</mat-label>
        <textarea  required matInput #message maxlength="140" placeholder="我想说" autocomplete="off" cdkTextareaAutosize #autosize="cdkTextareaAutosize"cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="message"></textarea>
        <mat-hint align="start"><strong></strong> </mat-hint>
        <mat-hint  align="end">{{message.value.length}} / 140字</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="input-full-width" id="inputId">
        <mat-label>ID</mat-label>
        <input matInput #id maxlength="20" autocomplete="on" formControlName="authorId" value="匿名">
        <mat-hint align="start"><strong></strong> </mat-hint>
        <mat-hint  align="end">{{id.value.length}} / 20字符</mat-hint>
      </mat-form-field>

      <button id="submit-button" mat-stroked-button [disabled]="this.inputSubmitLoading">
        <mat-icon id="submit-button-icon">send</mat-icon>
      </button>

    </form>


<!--    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>-->

  </mat-grid-tile>

  </ng-template>


  <mat-grid-tile rowspan="1">
    <button mat-flat-button id="let-me-answer" color="accent" *ngIf="!writingAnswer; else cancelButton" (click)="LetMeAnswer()" [disabled]="writingAnswer"><mat-icon>speaker_notes</mat-icon></button>
    <ng-template #cancelButton>
    <button mat-flat-button color="accent" id="cancel-writing-button" (click)="ExitWritingMode()"  [disabled]="!writingAnswer"><mat-icon>cancel</mat-icon></button>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
